@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  color-scheme: light dark;
}

@media (color-scheme: light) {

  .background {
    background-image: url("/light-bg.svg");
    background-size: 100% 100%;

  }

  .card {
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
    background-color: rgba(251, 252, 254, 0.5);
  }
}

/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     color-scheme: dark; */
/*   } */
/* } */

@media (color-scheme: dark) {
  .background {
    background-image: url("/dark-bg.svg");
    background-size: 100% 100%;

  }

  .card {
    backdrop-filter: blur(10px);
    background: rgba(25, 28, 30, 0.5);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
  }
}

.avatar {
  clip-path: circle();
}

/* Font Family */
body {
  font-family: 'Roboto Flex', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

/* Typography */
.text-display-4 {
  font-size: 112px;
  font-weight: 300;
  line-height: 128px;
  letter-spacing: -5px;
  padding-top: 17px;
  margin-bottom: 15px;
}

.text-display-3 {
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
  padding-top: 8px;
  margin-bottom: 28px;
}

.text-display-2 {
  font-size: 45px;
  font-weight: 400;
  line-height: 48px;
  margin-bottom: 11px;
}

.text-display-1 {
  font-size: 34px;
  font-weight: 400;
  line-height: 40px;
  padding-top: 8px;
  margin-bottom: 12px;
}

.text-headline {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  padding-top: 16px;
  margin-bottom: 12px;
}

.text-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 44px;
  padding-top: 18px;
  margin-bottom: 12px;
}

.text-subhead {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  padding-top: 2px;
  margin-bottom: 10px;
}

.text-body-2 {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  padding-top: 4px;
  margin-bottom: 12px;
}

.text-body-1 {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding-top: 6px;
  margin-bottom: 14px;
}

.text-caption {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  padding-top: 6px;
  margin-bottom: 14px;
}

.text-menu {
  font-size: 14px;
  font-weight: 600;
  line-height: 32px;
  padding-top: 6px;
  margin-bottom: 14px;
}

.text-button {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 20px;
  padding-top: 5px;
  margin-bottom: 15px;
}

/* General HTML Typography */
body {
  font-size: 14px;
  line-height: 20px;
}

h1 {
  @extend .text-display-2;
}

h2 {
  @extend .text-display-1;
}

h3 {
  @extend .text-headline;
}

h4 {
  @extend .text-title;
}

h5 {
  @extend .text-subhead;
}

h6 {
  @extend .text-body-2;
}

p {
  @extend .text-body-1;
}
